  <div class="logo">
                <img src="assets/logo-dark.png" alt="tunav_shop" />
              </div>
      <div class="container">
        <div class="row">   
          <div class="footer-col">
           
            <h4 id="titre">Menu</h4>
            <ul class="c2">
              <li><a href="#">Accueil</a></li>
              <li><a href="#">A propos</a></li>
              <li><a href="#">Boutique</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h1>Follow us:</h1>
            <div class="drawer">
              <div class="box">
                <a href="https://www.facebook.com/tunavgps" class="ball ball-1"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/tunav_/?igshid=NTc4MTIwNjQ2YQ%3D%3D" class="ball ball-2"><i class="fab fa-instagram"></i></a>
                <a href="https://www.linkedin.com/company/tunav/" class="ball ball-3"><i class="fab fa-linkedin"></i></a>
              </div>
              <div class="cover"><span></span></div>
            </div>
          </div>
          <div class="footer-col col-md-3">
            <div class="address">
              <h4 id="titre2">Coordonnées</h4>
              <img src="./assets/images/about/home_line.png" alt="" class="img-fluid">
              <div class="address-links">
               <ul class="1"> <li class="address1"><i class="fa-solid fa-location-dot"></i>06 Rue 8609 Escaliers D 1er étage Charguia1</li>
                <li class="address1"><a href=""><i class="fa-solid fa-phone"></i>+216 71 807 667 </a></li>
                <li class="address1"><a href=""><i class="fa-solid fa-envelope"></i>tunav@tunav.com </a></li>
              </ul ></div>
            </div>
          </div>
        </div>
      </div>
      



<div class="copyright">
    <p>&copy;2023 Babay Mariem | All Rights Reserved</p>
</div>



