<h1 class="titre1">Nos Produits</h1>
<div class="grid">
  <div class="grid__item">
    <div class="card">
      <img class="img1" src="assets\smar-TNAV.png" alt="smar-TNAV">
      <div class="card__content"><h1 class="card__header">SMAR-TNAV </h1>
        <p class="card__text"> Miroir intelligent de  <strong>caméra de surveillance intégrée</strong> et plate-forme multifonctionnelle , aide au <strong>suivi GPS </strong> </p>
      <button class="card__btn">Voir plus<span>→</span>
      </button>
    </div>    </div>    </div>

   
      <div class="grid__item">
        <div class="card">
          <img class="img2" src="assets\sonde.png" alt="Mini Trace" >
          <div class="card__content"><h1 class="card__header">Sonde de température et d'humidité</h1>
            <p class="card__text" id="cardT2"> un dispositif de suivi <strong>GNSS compact</strong> conçu pour une grande variété d'applications de suivi de véhicules.</p>
          <button class="card__btn">Voir plus<span>→</span>
          </button>
        </div>    </div>    </div>

          <div class="grid__item">
            <div class="card">
              <img class="img3" src="assets\mini-trace.png" alt="mini Trace">
              <div class="card__content"><h1 class="card__header">Mini Trace</h1>
                <p class="card__text" id="cardT2"> <strong>Tracker GNSS</strong>  résistant à l’eau convivial avec un bouton de panique idéal pour les applications de gestion de la sécurité personnelle et de surveillance des actifs <strong></strong> .</p>
                <button class="card__btn">Voir plus<span>→</span>
              </button>
            </div>    </div>    </div>







