<h1 class="titre1">Best Sellers</h1>
<div class="grid">
  <div class="grid__item">
    <div class="card">
      <img class="img1" src="assets\easyTraceX-bg.png" alt="Easy Trace X">
      <div class="card__content"><h1 class="card__header">Easy Trace X® </h1>
        <p class="card__text"> un appareil <strong>GPS/GPRS </strong>de tracking, destiné pour usage sur tout type de véhicule. Il permet le suivi en temps réel et le transfert de données au centre de gestion de flotte.</p>
      <button class="card__btn">Voir plus<span>→</span>
      </button>
    </div>    </div>    </div>

   
      <div class="grid__item">
        <div class="card">
          <img class="img2" src="assets\easyCan.jpeg" alt="Easy Trace X">
          <div class="card__content"><h1 class="card__header">EasyCan Trace</h1>
            <p class="card__text"> un dispositif de suivi <strong>GNSS compact</strong> conçu pour une grande variété d'applications de suivi de véhicules.</p>
          <button class="card__btn" id="btn">Voir plus<span>→</span>
          </button>
        </div>    </div>    </div>

          <div class="grid__item">
            <div class="card">
              <img class="img3" src="assets\smartNav.png" alt="Easy Trace X">
              <div class="card__content"><h1 class="card__header">SmartNav Plus </h1>
                <p class="card__text"> un <strong>système d'exploitation</strong> Android 9.0, un enregistrement vidéo<strong>4CHS</strong> , une navigation et une piste GPS, un point d'accès WiFi, une carte SIM 4G.</p>
              <button class="card__btn">Voir plus<span>→</span>
              </button>
            </div>    </div>    </div>







