<div class="register-page">
    <div class="form">
    <a class="cross-link" href="\">x</a>
      <form class="register-form" method="POST">
        <h2>Register</h2>
        <input type="text" placeholder="Full Name *" required/>
        <input type="text" placeholder="Matricule *" required/>
        <input type="text" placeholder="Username *" required/>
        <input type="email" placeholder="Email *" required/>
        <input type="password" placeholder="Password *" required/>
        <a class="btn" href="#">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Create
        </a>
        <p class="message">Already registered? <a routerLink="/login">Sign In</a></p>
      </form>
    </div>
  </div>
  