<section class="section1">
  <div class="container">
    <div class="row header-container">
      <div class="col-md-6 col-sm-6">
        <img src="assets/gps-removebg-preview.png" alt="Photo" class="photo">
      </div>
      <div class="col-md-6">
        <h2>Trouvez le GPS idéal, simple & pratique qui vous convient ! Laissez-nous vous aider à tracer votre chemin et à atteindre votre destination avec précision. Bienvenue chez Tunav Shop, votre partenaire de confiance en matière de navigation GPS.</h2>
        <div class="button-container">
          <button mat-fab class="custom-icon-button">
            <mat-icon>shopping_cart</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
