<div class="register-page">
    <div class="form">
    <a class="cross-link" href="\">x</a>
      <form class="register-form" method="POST">
        <h2>S'inscrire</h2>
        <input type="email" placeholder="Email *" [(ngModel)]="email" name ="email" required/>
        <input type="password" placeholder="Password *"  [(ngModel)]="password" name ="password" required/>
        <a class="btn" href="#" (click)="register()">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Créer
        </a>
        <p class="message">Déja inscrit? <a routerLink="/login">Se connecter</a></p>
      </form>
    </div>
  </div>
  